@model ICollection<BookStoreFront.Models.Responses.Book.BookDTO>;
 <a class="btn btn-success" asp-action="CreateBook">Create new book</a>
 <a class="btn btn-success" asp-action="CreateAutor">Create new autor</a>
 <a class="btn btn-info" asp-action="GetAllAutors">Show all autors</a>
 <a class="btn btn-success" asp-action="CreateGenre">Create new genre</a>
 <a class="btn btn-info" asp-action="GetAllGenres">Show all genres</a>


<table class="table">
    <tr>
        <th>
            ID            
        </th>
        <th>
            Title            
        </th>
        <th>
            Autor
        </th>
        <th>
            Genre
        </th>
        <th>
            Price
        </th>
        <th>
            Pages
        </th>
        <th>
            Year
        </th>
        <th>
            Actions
        </th>        
    </tr>  
    @foreach (var item in Model)
    {
        <tr>
             <td>
                @item.ID
            </td>
            <td>
                @item.Title
            </td>
            <td>               
                @String.Join(';', item.Autors.Select(el => el.Name + " " + el.Surname))
            </td>
            <td>               
                @String.Join(';', item.Genres)
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.PagesCount
            </td>
            <td>
                @item.Year
            </td>
            <td>
                @*<button class="btn btn-primary">Edit</button>*@
                @*<button class="btn btn-danger">Delete </button>*@
                <a class="btn btn-primary" asp-action="UpdateBook" asp-route-id="@item.ID">Edit</a>
                <a class="btn btn-danger" asp-action="DeleteBook">Delete</a>
            </td>
        </tr>
    }
</table>
